.hind-madurai-font{
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

.side-bar{
    background-color: #41FF6B30;
    width: 80px;
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 40px;
    border-radius: 40px;
}
.Figure{
    border: 1px solid #5C5C5C10;
}
.ok{
    border: 2px solid red;
}
.banner{
    margin-top: 25px;
}

@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .logo{
        padding-left: 10px;
    }
    .title{
        font-size: 15px;
    }
    .title-img{
        width: 30px;
        height: 30px;
    }
    .side-bar{
    width: 52px;
    align-items: center;
    height: 30px;
    border-radius: 40px;
    }
    .navbar{
        width: 200px;
        justify-content: space-between;
    }
    .banner-img{
        width: 60px;
        height: 60px;
    }
    .banner-title{
        font-size: 20px;
    }
    .banner-info{
        font-size: 12px;
    }




























}